<template>
  <v-row class="fullheight">
    <v-col md="9" class="fullheight">
      <v-card
        class="pa-2 fullheight pt-5"
        style="positon:relative; padding-bottom:70px !important;"
        outlined
        tile
      >
        <div class="mb-5 mr-4 ml-4" v-for="msg in messages" :key="msg.time">
          <div
            :class="{
              'green lighten-5 pa-5 d-inline-block float-right':
                username == msg.name,
              'blue lighten-5 pa-5 d-inline-block': username != msg.name,
            }"
          >
            <strong class="dark"> {{ msg.name }} :</strong> {{ msg.message }}
            <br />
            <small> {{ timeChange(msg.time) }} </small>
          </div>
          <div class="clearfix"></div>
        </div>
        <v-card
          style="position:absolute;width:calc(100% - 24px);left:12px;auto;bottom:12px;padding:10px"
          outlined
          tile
        >
          <v-text-field
            label="Write Something and Press Enter"
            v-model="message"
            @keypress.enter="sendMessage()"
          ></v-text-field>
        </v-card>
      </v-card>
    </v-col>
    <v-col
      md="3"
      class="fullheight"
      style="max-height: calc(100vh - 48px) !impotant;overflow:scrool "
    >
      <online-list></online-list>
    </v-col>
  </v-row>
</template>

<script>
import OnlineList from "./OnlineList";
export default {
  name: "ChatScreen",
  components: {
    OnlineList,
  },
  data() {
    return {
      message: "",
      messages: [],
    };
  },
  methods: {
    getData() {
      this.socket.emit("sync", "deneme");
    },
    sendMessage() {
      this.socket.emit("sendMessage", this.message);
      this.message = "";
    },
    timeChange(time) {
      var dt = new Date(time);
      var year = dt.getFullYear();
      var month =
        dt.getMonth() + 1 < 10 ? "0" + (dt.getMonth() + 1) : dt.getMonth() + 1;
      var day = dt.getDate() < 10 ? "0" + dt.getDate() : dt.getDate();
      var t = dt.toTimeString().split(" ");
      return t[0] + " " + day + "." + month + "." + year;
    },
  },
  computed: {
    socket: function() {
      return this.$store.state.socket;
    },
    username: function() {
      return this.$store.state.username;
    },
  },
  created() {
    this.$store.state.socket.on("messageChanged", (data) => {
      console.log("buraya giriyor");
      this.messages = data;
    });
  },
};
</script>

<style scoped>
.fullheight {
  min-height: 100%;
  max-height: 100%;
  height: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
