<template>
  <v-row class="fullheight">
    <v-col md="4" offset-md="4">
      <v-card class="pa-5 " outlined tile>
        <v-text-field
          label="Fullname"
          @keypress.enter="login()"
          v-model="username"
        ></v-text-field>
        <v-btn block color="secondary" @click="login()" dark>İnsert Chat</v-btn>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import io from "socket.io-client";
export default {
  name: "App",
  data() {
    return {
      username: "",
    };
  },
  methods: {
    login() {
      var socket = io.connect("http://localhost:3000");
      this.$store.commit("login", {
        username: this.username,
        login: true,
        socket: socket,
      });
      socket.emit("joinWithUsername", this.username);
    },
    computed: {
      socket: function() {
        return this.$store.state.socket;
      },
    },
  },
};
</script>

<style scoped>
.fullheight {
  min-height: 100%;
  max-height: 100%;
  height: auto;
}
</style>
