<template>
  <div>
    <v-card>
      <v-toolbar color="primary lighten-1" dark>
        <v-text-field
          v-model="search"
          placeholder="Search Online Guest"
        ></v-text-field>
      </v-toolbar>

      <v-list two-line>
        <template v-for="(item, index) in userArray">
          <v-list-item :key="item" ripple>
            <v-list-item-avatar>
              <v-responsive
                :class="
                  'text-center ' +
                    colors[index % colors.length] +
                    ' rounded-circle d-inline-flex align-center justify-center ma-3'
                "
                height="64"
                width="64"
              >
                <div class="username">{{ getFirtChars(item) }}</div>
              </v-responsive>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title v-html="item"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "OnlineList",
  data() {
    return {
      users: {},
      search: "",
      colors: [
        "red",
        "pink lighten-5",
        "pink darken-1",
        "purple darken-1",
        "blue darken-2",
        "indigo darken-1",
        "teal",
        "cyan",
        "light-blue",
        "green darken-1",
        "orange darken-2",
        "blue-grey",
      ],
    };
  },
  computed: {
    userArray: function() {
      var array = Object.values(this.users);

      if (this.search == "") return array;

      array = array.filter((value) => {
        return value.search(this.search) !== -1;
      });
      return array;
    },
  },
  methods: {
    getFirtChars(string) {
      var array = string.split(" ");
      var newString = "";

      for (var i in array) {
        newString += array[i].substr(0, 1);
      }

      return newString.toUpperCase();
    },
  },
  mounted() {
    this.$store.state.socket.on("onlineChanged", (data) => {
      this.users = data;
    });
  },
};
</script>

<style scoped>
.username {
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
}
</style>
