<template>
  <v-app>
    <v-container class="grey lighten-5 d-flex p-0 fullheight" fluid>
      <chat-screen v-if="login"></chat-screen>
      <login-screen v-if="!login"></login-screen>
    </v-container>
  </v-app>
</template>

<script>
import ChatScreen from "./components/ChatScreen";
import LoginScreen from "./components/LoginScreen";
export default {
  name: "App",
  components: {
    ChatScreen,
    LoginScreen,
  },
  computed: {
    login: function() {
      return this.$store.state.login;
    },
  },
};
</script>

<style scoped>
.fullheight {
  min-height: 100%;
  max-height: 100%;
  height: auto;
}
</style>
